section{
   width: 500px;
   height: 500px;
   background-color: magenta;
}
#rgba{
   width: 50%;
   height: 50%;
   background-color: rgba(255, 255, 255, 0.7);
}
#rgba2{
   width: 50%;
   height: 50%;
   background-color: #010f1ff;
   
}
p{
   opacity: 0.3;
}
.logo{
   float: left;
}